{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["jest"],
  "rules": {
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": "off",
    "no-case-declarations": "off",
    "react/forbid-prop-types": "off",
    "import/prefer-default-export": "warn",
    "max-len": "warn"
  }
}
