#root {
  display: flex;
  height: 100vh;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 375px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-title {
  font-size: 0.875rem;
  font-weight: 400;
  font-weight: 500;

}

.App-rates {
  border-radius: 16px;
  border: 2px solid whitesmoke;
  color: #0075eb;
  padding: 6px 16px;
  margin: 0px;
  font-size: 0.875rem;
  background: white;
  position: relative;
}

.App-rates:after {
  position: absolute;
  background: whitesmoke;
  top: 15px;
  left: -50vw;
  right: -50vw;
  content: "";
  z-index: -1;
  height: 100vh;
}

.App-convert {
  padding: 0;
}

.App-button {
  border-radius: 24px;
  background-color: #eb008d;
  color: #fff;
  border: 1px solid #eb008d;
  padding: 12px 86px;
  font-size: 1rem;
  cursor: pointer;
  margin: 24px 0;
  transition: 0.3s ease-in-out;
  opacity: 1;
  box-shadow: 0 0 5px #eb008d;
}

.App-button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}