.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 375px;
}

.App-header {
  margin-top: 36px;
}

.App-title {
  font-size: 0.875rem;
  font-weight: 400;
  font-weight: 500;

}

.App-rates {
  border-radius: 16px;
  border: 1px solid #e8e6e6;
  color: #0075eb;
  padding: 6px 16px;
  margin: 0px;
  font-size: 0.875rem;
}

.App-convert {
  padding: 0;
}

.App-button {
  border-radius: 24px;
  background-color: #eb008d;
  color: #fff;
  border: 1px solid #eb008d;
  padding: 12px 86px;
  font-size: 1rem;
  cursor: pointer;
  margin: 24px 0;
}

.App-button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}